{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.

{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'cowboy', ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}}
]}.